<nav>
    <ul class = "center">

        <li><a><%= link_to 'ホーム', tweets_path %></a></li>
        <li><a href = ".">ツイートと返信</a></li>
        <li><a href = ".">メディア</a></li>
        <li><a href = ".">いいね</a></li>
    </ul>
</nav>
