<p class = "ha-botan">　🏠 　ホーム</p>

<p>　 ＃　 話題を検索</p>
<p>　 🔔　 通知</p>
<p>　 ✉ 　メッセージ</p>
<p>　 □ 　ブックマーク</p>
<p>　 □ 　リスト</p>
<p>　 👤　 プロフィール</p>
<p>　 〇 　もっと見る</p>

<p class = "ao-botan">
    <%= link_to '　ツイートする', new_tweet_path, class:"link" %>
</p>