<% @tweets.each do |tweet| %>

    <div class = "pageBody">

            <nobr class = "right-space">
                <a class = "huto">
                    近畿大学
                </a>
                
                    @kinikidaigakuPR・

                <%= tweet.tdate.strftime("%m月%d日") %>
            
                <a class = "right-link">
                    <%= link_to '・・・', tweet_path(tweet.id), class:"right-link", method: :delete %>
                </a>
                
                
            </nobr>
            <a class =  "right-space">
                <%= safe_join(tweet.message.split("\n"),tag(:br)) %>
            </a>




                
            </header>
            
            <a class = "pageBody-s">
            <%= image_tag "snow07" %>
                <p>
                    情報学部｜近畿大学<br>
                    近畿大学公式ウェブサイト。このページは、情報学部に関する情報をご覧いただけます。<br>
                    🔗kindai.ac.jp
                </p>
            </a>
        </p>
        

        

        
        <br>
        <br>
 
    </div>
    


<% end %>

