<p>
    <strong>メッセージ</strong>
    <br>
    <%= @tweet.message %>
</p>

<p>
    <strong>投稿日時</strong>
    <br>
    <%= @tweet.tdate.strftime("%Y年%m月%d日 %H時%M分%S秒") %>
 
</p>

<%= link_to '戻る', :back %>
