/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
#header {
    text-align:justify;
    float: right;
    margin-right: 25%;
    width: 30%;
    display:flex;
    margin-top: 2%;
    margin-bottom: 0px;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 0em;
    border: solid 0.5px #999;
    border-bottom: 2em;
}

#sidebar {
    width: 10%;
    float: left;
    margin-left: 31%;
    margin-top: 1%;
}

.pageBody {
    width: 30%;
    float: right;
    margin-top: 0%;
    padding: 1em;

    border: solid 0.5px #999;
 
    display:flex;
    flex-flow: column;
    
    margin-right: 25%;
}


.pageBody-s {
    width: 80%;
    float: right;
    
    padding: 1em;
    margin: 2em;
    border: solid 0.5px #afb3b5;
    
    display:flex;
    flex-flow: column;
    margin-left: 60px;
    border-radius: 20px 20px 20px 20px;
}



/*ボタンー～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～*/

nav ul {
    list-style-type: none;
    margin :0;
    padding: 0;
    color:  #d3d3d3;
    
}

nav li {
    display: inline;


    justify-content: space-around;

}

nav li a { /*ボタンの色*/
    font-size: 1.25rem;
    text-decoration: none;
    padding: 8px;
    color:  #999;


}

nav li a:hover { /*ボタンの色　マウスが当たった時*/
    font-weight:  bold;

    border-bottom: solid 3px #00acee;
    color: black;
    
}

.center {
        text-align: center;
}

/*太字～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～*/
.huto {
    font-weight: bold;
}




.ha-botan { /*ボタンの色*/

    background-color: #DDDDDD;
    padding: 8px;
    color: #402717;
    border-radius: 100vh;
    width: 120px;
}


.ao-botan { /*ボタンの色*/

    background-color: #00acee;
    padding: 8px;
    color: white;
    border-radius: 100vh;
    width: 130px;
}

.link {
    text-decoration: none;
    color: white ; 
}

.link-1 {
    text-decoration: none;
    color: black ; 
}

.right-link {
    text-decoration: none;
    color: black;
    float: right;
    font-size: 1px;
    font-weight: bold;
}





/*テキストエリア　新規追加　編集~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.text-area {
    margin-top: 10%;    
}


.pageBody-text {
    width: 30%;
    float: right;
    margin-top: 1%;
    padding: 1em;


 
    display:flex;
    flex-flow: column;
    
    margin-right: 25%;
}

.text-btn {
    width: 50px;
}


.right-space {
    margin-left: 60px;
}